<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header'); %>
    <main>
        <div class="ui segment">
            <form class="ui form" method="POST" action="/faction/remove">
                <h3 class="ui dividing header">
                    Are you sure you want to remove the following faction?
                </h3>
                <div class="three fields">
                  <div class="field">
                    <label>Faction Name</label>
                    <input type="text" name="facName" placeholder="Faction Name" value="<%- currentData.name %>" readonly>
                  </div>
                  <div class="field">
                    <label>Faction Tag</label>
                    <input type="text" name="facTag" placeholder="Faction Tag" value="<%- currentData.tag %>" readonly>
                  </div>
                  <div class="field">
                    <label>Faction ID</label>
                    <input type="text" name="facId" placeholder="Faction ID" value="<%- currentData.id %>" readonly>
                  </div>
                </div>
                <button class="negative ui button" type="submit">Remove</button>
                <button class="ui button" onclick="window.open('/faction', _parent)">Cancel</button>
            </form>
        </div>
    </main>
    <%- include('./partials/footer'); %>
</body>
</html>