<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header'); %>
    <main>
        <div class="ui segment">
            <h1>Faction List</h1>
            <div class="ui middle aligned divided list">
                <form class="item" method="POST" action="/faction/add">
                    <div class="right floated content">
                        <button type="submit" class="ui button">Add</button>
                    </div>
                    <img class="ui avatar image" src="#">
                    <div class="content">
                        <div class="ui input">
                            <input type="text" name="facName" placeholder="Faction Name">
                        </div>
                        <div class="ui input">
                            <input type="text" name="facTag" placeholder="Faction Tag" required>
                        </div>
                        <div class="ui input">
                            <input type="text" name="facId" placeholder="Faction ID" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="ui cards">
                <% for(const i of factions) { %>
                <div class="card">
                    <div class="content">
                        <img class="right floated mini ui image" src="https://cdn.mrkitts.xyz/files/cbpng/54.png">
                        <div class="header">
                            <%= i.tag %> ( <%- i.id %> )
                        </div>
                        <div class="meta">
                            <%- i.name %>
                        </div>
                        <div class="description">
                            <%- new Date(i.createdAt).toDateString() %>
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                            <a class="ui basic blue button" href="/faction/edit/<%- i.id %>">Edit</a>
                            <a class="ui basic red button" href="/faction/remove/<%- i.id %>">Delete</a>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer'); %>
</body>
</html>